<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>100000</particles>
  <batches>100</batches>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="box">
      <parameters>-0.62992 -0.62992 -1 0.62992 0.62992 1</parameters>
    </space>
    <energy parameters="999999.0 1000001.0" type="uniform"/>
  </source>
</settings>
