# setup.py
build
.eggs
mcdc.egg-info

# Material Data
mcdc_xs
MCDC-Xsec

# Python cache
__pycache__
*.pyc
*.nbc
*.nbi

# GPU cache
__ptxcache__

# Editor
.spyproject
*.swp
.vscode/

# Output
*output.h5
output*.h5
*output.h5
*.png
*.mp4
*.gif

# Cluster job
*.out
*.pbs

# Misc.
tmp
tmp.py
tmp_*
*_tmp.py
*.core
.DS_Store # for mac users
**/.DS_Store
**/.idea

# test cache
.pytest_cache
pytestdebug.log

# profiler
*.prof

# Documentation builds
docs/build
docs/source/pythonapi/generated/

*.csv
